image: node:10.13.0
services:
  - docker:dind
stages:
  - test
  - build
before_script:
  - docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
test-api:
  stage: test
  script:
    - "cd lotto_api"
    - "npm i -g istanbul mocha && npm install && npm run test"

build-api:
  image: docker:latest
  stage: build
  only:
    - tags
  script:
    - cd lotto_api
    - docker build -t $DOCKER_USER/lotto-main-api:$CI_COMMIT_TAG .
    - docker build -t $DOCKER_USER/lotto-main-api:latest .
    - docker push $DOCKER_USER/lotto-main-api:$CI_COMMIT_TAG
    - docker push $DOCKER_USER/lotto-main-api:latest
build-live-api:
  image: docker:latest
  stage: build
  only:
    - tags
  script:
    - cd lotto-live-server
    - docker build -t $DOCKER_USER/lotto-main-api:$CI_COMMIT_TAG .
    - docker build -t $DOCKER_USER/lotto-main-api:latest .
    - docker push $DOCKER_USER/lotto-main-api:$CI_COMMIT_TAG
    - docker push $DOCKER_USER/lotto-main-api:latest
build-user-ui:
  image: docker:latest
  stage: build
  only:
    - tags
  script:
    - cd lotto-front-main
    - docker build -t $DOCKER_USER/lotto-user-ui:$CI_COMMIT_TAG . -f Dockerfile.user.front
    - docker build -t $DOCKER_USER/lotto-user-ui:latest . -f Dockerfile.user.front
    - docker push $DOCKER_USER/lotto-user-ui:$CI_COMMIT_TAG
    - docker push $DOCKER_USER/lotto-user-ui:latest