image: node:10.13.0
services:
  - docker:dind
stages:
  - test
  - build
test-api:
  stage: test
  script:
    - "cd lotto_api"
    - "npm i -g istanbul mocha && npm install && npm run test"
# test-web:
#   stage: test
#   script:
#     - "cd lotto-front-main/lotto-front"
#     - "npm install -g @angular/cli @nrwl/schematics && npm install && npm test"

build-api:
  image: docker:latest
  stage: build
  only:
    - tags
  script:
    - docker login -u $DOCKER_USER -p $DOCKER_PASSWORD
    - docker build -t $DOCKER_USER/$PROJECT:$CI_COMMIT_TAG .
    - docker build -t $DOCKER_USER/$PROJECT:latest .
    - docker push $DOCKER_USER/$PROJECT:$CI_COMMIT_TAG
    - docker push $DOCKER_USER/$PROJECT:latest