.content {
  padding-top: 5px;
  min-height: 75%;
  position: relative;

  .loader {
    position: absolute;
    top: 10px;
    left: 20px;
    width: 20px;
    height: 20px;
    .spinner-icon {
      width: 18px;
      height: 18px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      border: 2px solid transparent;
      border-top-color: #CA4799;
      border-left-color: #CA4799;
      border-radius: 50%;
      -webkit-animation: loading-spinner 175ms linear infinite;
      animation: loading-spinner 175ms linear infinite;
    }
  }
}

@-webkit-keyframes loading-spinner {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }

  to {
      -webkit-transform: rotate(1turn);
      transform: rotate(1turn)
  }
}

@keyframes loading-spinner {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg)
  }

  to {
      -webkit-transform: rotate(1turn);
      transform: rotate(1turn)
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ff6600;
  background: -webkit-gradient(left top, right bottom, color-stop(0%, #ff6600), color-stop(25%, rgba(255, 102, 0, 0.92)), color-stop(70%, rgba(189, 24, 112, 0.78)), color-stop(100%, rgba(189, 24, 112, 0.68)));
  background: linear-gradient(135deg, #f4627ce0 0%, #b536a6f0 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff6600', endColorstr='#bd1870', GradientType=1);
}
